{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

            <div class="w-auto h-auto overflow-hidden flex flex-col justify-center items-center bg-white"> {{ ux_icon('arcticons:google-admin', {'class':'size-20'}) }}
            <div class="w-auto my-2 md:w-3/5 lg:w-2/5">
                <div class="flex my-8 mx-4 md:mx-2 border-b-2 border-gray-700 hover:border-green-800">
                    <label class="self-center size-10">
                        {{ ux_icon('fluent-emoji-flat:e-mail') }}
                    </label>
                    <input class="w-full py-3 pl-5 md:pl-20 border-0 focus:outline-none" value="{{ last_username }}" type="email" name="email" placeholder="johndoe@gmail.com" autocomplete="email" required autofocus>
                </div>
                <div class="flex my-8 mx-4 md:mx-2 border-b-2 border-gray-700 hover:border-green-800">
                    <label class="self-center size-10 text-green-800">{{ ux_icon('solar:lock-password-unlocked-bold-duotone') }}</label>
                    <input class="w-full py-3 pl-2 md:pl-8 border-0 focus:outline-none" name="password" type="password" autocomplete="current-password" required>
                </div>
                <div class="mb-4 flex items-center">
                    <input type="checkbox" id="remember" name="remember" class="text-blue-500">
                    <label for="remember" class="text-gray-600 ml-2">Se souvenir de moi</label>
                </div>
                <button class="rounded-xl border-2 border-green-500 px-5 py-3 text-base mb-3 font-medium text-green-500 transition duration-200 hover:bg-green-600/5 active:bg-green-700/5" type="submit">
                    Connexion
                </button>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>


{% endblock %}
