{% extends 'base.html.twig' %}

{% block title %}FormCodeur
{% endblock %}

{% block body %}
    {% include "elements/atoms/flash_message.html.twig" %}
    {% include "sections/home/header.html.twig" %}
    {% include "sections/home/equipe_dev.html.twig" %}
    {% include "sections/home/site_model.html.twig" %}
    {% include "sections/home/pricing.html.twig" %}
    {% include "elements/organisms/sticky_bot.html.twig" %}
{% endblock %}
