<div class="hidden md:block mb-24 md:mb-0 sm:px-6 md:items-center">
    <div class="flex relative justify-center">
        <img class="rounded-xl md:h-96" src="{{asset ('public/images/equipe_dev/' ~ equipe.imageName)}}"  
        
        alt="
            {% if app.request.locale == 'fr' %} 
                {{ equipe.frImageAlt | trans }}

                {% elseif app.request.locale == 'en' %}  
                {{ equipe.enImageAlt | trans }}

            {% else %}
                {{ equipe.frImageAlt | trans }}
            {% endif %}
        ">

    </div>
</div>
        