<div>
    <!-- Blockquote -->
    <blockquote class="relative">

        {{ ux_icon('bi:chat-quote-fill', {'class' : 'absolute top-0 start-0 transform -translate-x-8 -translate-y-4 size-24 text-green-200 dark:text-neutral-700'}) }}

        <div class="relative z-10">
            <div class="text-xl font-medium italic text-gray-800 md:text-2xl md:leading-normal xl:text-3xl xl:leading-normal dark:text-neutral-200">

                {{app.request.locale == 'fr' ? equipe.frBiographie | raw :  equipe.enBiographie | raw }}
            </div>
        </div>


    </blockquote>
    <!-- End Blockquote -->
    <footer>
        <div class="flex items-center">
            <div class="md:hidden flex-shrink-0">
                <img class="size-12 rounded-full" src="{{asset ('public/images/equipe_dev/' ~ equipe.imageName)}}" alt="Image Description">
            </div>
            <div class="ms-4 md:ms-0">
                <div class="text-base font-semibold text-gray-800 dark:text-neutral-200">{{equipe.nom}}</div>
                <div class="text-xs text-gray-500 dark:text-neutral-400">{{equipe.titre | trans}}</div>
            </div>
        </div>
    </footer>
</div>
