<link rel="apple-touch-icon" sizes="180x180" href="{{asset ('public/images/favicon/favicon_io/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href={{asset ('public/images/favicon/favicon_io/favicon-32x32.png')}}>
<link rel="icon" type="image/png" sizes="16x16" href={{asset ('public/images/favicon/favicon_io/favicon-16x16.png')}}>
<link rel="manifest" href="{{asset ('public/images/favicon/favicon_io/site.webmanifest')}}">
