
{% include "elements/atoms/form_error.html.twig" %}
<!-- Floating Input -->
<div class="relative">
    <input value="{{field_value(input_name)}}" name="{{ field_name(input_name) }}" type="{{input_type | default ('text')}}" id="{{field_name(input_name)}}" class="peer p-4 block w-full border-green-200 rounded-lg text-sm placeholder:text-transparent focus:border-green-500 focus:ring-green-500 disabled:opacity-50 disabled:pointer-events-none 
        focus:pt-6
        focus:pb-2
        [&:not(:placeholder-shown)]:pt-6
        [&:not(:placeholder-shown)]:pb-2
        autofill:pt-6
        autofill:pb-2" placeholder="{{field_label(input_name)}}">
    <label for="{{field_name(input_name)}}" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent  origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none
        peer-focus:scale-90
        peer-focus:translate-x-0.5
        peer-focus:-translate-y-1.5
        peer-focus:text-green-500 dark:peer-focus:text-green-500
        peer-[:not(:placeholder-shown)]:scale-90
        peer-[:not(:placeholder-shown)]:translate-x-0.5
        peer-[:not(:placeholder-shown)]:-translate-y-1.5
        peer-[:not(:placeholder-shown)]:text-green-500 ">{{field_label(input_name)}}</label>
</div>
<!-- End Floating Input -->
