<div data-controller="navbarDropdown" class="sm:hidden relative inline-block text-left">
  <button id="dropdownButton" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-green-700 hover:bg-gray-50">
  {{ ux_icon('quill:hamburger-sidebar', {'class':'size-5'}) }}
  </button>
  <div id="dropdownMenu" class="hidden origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="dropdownButton">
      <a href="#tarifs" class="block px-4 py-2 text-sm text-green-700 hover:bg-gray-100" role="menuitem">{% trans %}Nos tarifs{% endtrans %}</a>
      <a href="#realisations" class="block px-4 py-2 text-sm text-green-700 hover:bg-gray-100" role="menuitem">{% trans %}Réalisations{% endtrans %}</a>
    </div>
  </div>
</div>
