<ul class="mt-7 text-sm">
    {% if app.request.locale == 'fr' %}
        {% for avantage in forfait.frAvantages %}
            <li class="grid grid-cols-12">{{ ux_icon('mdi:check', {'class' : 'size-5 text-green-600'}) }}
                <span class="col-span-11 text-start">
                    {% include "elements/atoms/locale.html.twig" with {
                        frData: avantage,
                        enData: avantage
                    } %}
                </span>
            </li>
        {% endfor %}
    {% elseif  app.request.locale == 'en' %}
        {% for avantage in forfait.enAvantages %}
            <li class="grid grid-cols-12">{{ ux_icon('mdi:check', {'class' : 'size-5 text-green-600'}) }}
                <span class="col-span-11 text-start">
                    {% include "elements/atoms/locale.html.twig" with {
                        frData: avantage,
                        enData: avantage
                    } %}
                </span>
            </li>
        {% endfor %}
    {% endif %}
</ul>
