<button type="button" id="{{forfait.modalId}}-button" class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none">
    {% trans %}En savoir plus{% endtrans %}
</button>

<div id="{{ forfait.modalId }}-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-[1] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-1 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
        <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
            <div class="flex justify-between items-center py-3 px-4 border-b">
                <h3 class="font-bold text-gray-800">
                    {% include "elements/atoms/locale.html.twig" with {
                        frData: forfait.frNom,
                        enData: forfait.enNom
                    } %}
                </h3>
                <button type="button" class="modal-close flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#{{ forfait.modalId }}">
                    <span class="sr-only">{% trans %}Fermer{% endtrans %}</span>
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="p-4 overflow-y-auto">
                <div class="mt-1 text-gray-800 dark:text-neutral-400">
                {% include "elements/atoms/locale.html.twig" with {
                    frData: forfait.frDescription,
                    enData: forfait.enDescription
                } %}
        </div>
            </div>
            <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
                <button type="button" class="modal-close py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-green-200 bg-green-800 text-green-50 shadow-sm hover:bg-green-500 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#{{ forfait.modalId }}">
                    {% trans %}retour{% endtrans %}
                </button>

            </div>
        </div>
    </div>
</div>




 {# <div data-controller="hello" class="z-10 w-full h-full flex items-center justify-center">
<button id="{{forfait.modalId}}-button" class="w-64 h-12 text-lg text-white bg-blue-500 rounded-md px-4 py-2">Open Modal</button>
<!--Open Modal -->
</div>
<div
id="{{forfait.modalId}}-modal" class="hidden items-center justify-center h-screen w-screen fixed top-0 bg-black bg-opacity-60">
<!--Modal Dialog -->
<div
    class="bg-white max-w-xl w-full rounded-md">
    <!--Modal Content -->
    <div
        class="p-3 flex items-center justify-between border-b border-b-gray-300">
        <!--Modal Header -->
        <h3 class="font-semibold text-xl">{{forfait.modalId}}</h3>
        <span class="modal-close cursor-pointer">×</span>
        <!-- Close Modal -->
    </div>
    <div
        class="p-3 border-b border-b-gray-300">
        <!--Modal Body -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Nam excepturi repellendus amet, alias quia tenetur aut, perspiciatis assumenda deserunt iusto
                                incidunt.</p>
    </div>
    <div
        class="p-3 flex items-center justify-start">
        <!--Modal Footer -->
        <div>
            <button class="text-sm text-white bg-blue-500 rounded-md px-4 py-2">Accept</button>
            <button class="modal-close text-sm text-gray-400 border rounded-md px-4 py-2">Decline</button>
            <!-- Close Modal -->
        </div>
    </div>
</div>
</div>
  #}