<div class="rounded-lg  {# sm:size-32 md:size-40 lg:size-52  #}flex justify-center items-center">
    <a href="{{site_model.path}}" target="_blank">
        <img src="{{asset ('public/images/site_models/' ~ site_model.imageName) }}" class="object-center object-contain w-40 h-20 hover:scale-125 transition-transform duration-500 ease-in-out " alt="
            {% include "elements/atoms/locale.html.twig" with {
                frData: site_model.imagealt,
                enData: site_model.enimagealt
            } %}
        ">
    </a>
</div>
