{% include "elements/atoms/form_error.html.twig" %}



<div class="relative">
<textarea name="{{ field_name(input_name) }}" id="{{field_name(input_name)}}"  class="peer p-4 block w-full border-gray-200 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none 
focus:pt-6
focus:pb-2
[&:not(:placeholder-shown)]:pt-6
[&:not(:placeholder-shown)]:pb-2
autofill:pt-6
autofill:pb-2" placeholder="{{field_label(input_name) | trans}}">{{field_value(input_name)}}</textarea>
<label for="{{ field_name(input_name) }}" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0]  peer-disabled:opacity-50 peer-disabled:pointer-events-none
  peer-focus:text-xs
  peer-focus:-translate-y-1.5
  peer-focus:text-green-500
  peer-[:not(:placeholder-shown)]:text-xs
  peer-[:not(:placeholder-shown)]:-translate-y-1.5
  peer-[:not(:placeholder-shown)]:text-green-500 ">{{ field_label(input_name) | trans }}</label>
</div>

