<!-- Hire Us -->
<div
    class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div
        class="flex flex-col gap-5">
        {# Coordonnees #}
        {% include "elements/molecules/contact_coordonnees.html.twig" %}
        <!-- End Col -->
            {% include "elements/molecules/contact_form_item.html.twig" %}
        {# formulaire de contact #}
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Hire Us -->
