<!-- ========== HEADER ========== -->
<header class="sticky top-4 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full">
    <nav
        data-controller="anchor" class="gap-3 relative max-w-[66rem] w-full bg-neutral-800 rounded-[28px] py-3 ps-5 pe-2 flex flex-wrap items-center justify-start md:py-0 mx-2 lg:mx-auto" aria-label="Global">
        <!-- Logo -->
        <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="{{path ('app_home')}}" aria-label="Preline">
            <img class="size-12 rounded-full" src="{{asset ('public/images/logo/logoFC-icone.png')}}" alt="logo du site {{SITE_NAME}}">
        </a>
        <!-- End Logo -->

        {% if app.request.get('_route') != 'app_contact' %}
            <a class="hidden sm:block py-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="#tarifs" aria-current="page">{% trans %}Nos tarifs{% endtrans %}
            </a>
            <a class="hidden sm:block py-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="#realisations" aria-current="page">{% trans %}Nos réalisations{% endtrans %}
            </a>
            {% include "elements/atoms/navbar_dropdown.html.twig" %}

        {% else %}
            <div class="flex w-auto justify-end">
                <a class="flex items-center gap-x-2 py-2 px-3 bg-green-800 font-medium text-sm text-white rounded-full focus:outline-none" href="{{path ('app_home')}}">
                    {% trans %}retour à l'accueil{% endtrans %}
                </a>
            </div>
        {% endif %}


        <div class="flex gap-3 ms-auto items-center">
            {% if app.request.get('_route') != 'app_contact' %}

                <div>
                    <a class="group inline-flex items-center gap-x-2 py-2 px-3 bg-green-800 font-medium text-sm text-white rounded-full focus:outline-none" href="{{path ('app_contact')}}">
                        {% trans %}Nous contacter{% endtrans %}
                    </a>
                </div>
            {% endif %}
            {% for locale in locales %}

                {% if locale != app.request.locale %}
                    <a class="size-7" href="{{ path('app_change_locales', {'locale': locale}) }}">{{ ux_icon('circle-flags:' ~ locale) }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

    </nav>
</header>
<!-- ========== END HEADER ========== -->
