<!-- Sticky Share Group -->
<div class="sticky bottom-6 inset-x-0 text-center z-60">
    <div class="inline-block bg-white shadow-md rounded-full py-3 px-4 dark:bg-neutral-800">
        <div class="flex items-center gap-x-1.5">
            <div class="block h-3 border-e border-gray-300 mx-3 dark:border-neutral-600"></div>

            <!-- Button -->
            <div class="hs-tooltip inline-block">
                <a href="{{path ('app_contact')}}" class="hs-tooltip-toggle flex items-center gap-x-2 text-sm text-gray-500 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200">
                    {{nb_contacts}}
                    {{ ux_icon('uit:comment-dots' , {'class':'flex-shrink-0 size-4'}) }}
                    <p>{% trans %}Nous contacter{% endtrans %}</p>
                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-black" role="tooltip">
                        {% trans %}Comment{% endtrans %}
                    </span>
                </a>
            </div>
            <!-- Button -->

            <div class="block h-3 border-e border-gray-300 mx-3 dark:border-neutral-600"></div>

        </div>
    </div>
</div>
<!-- End Sticky Share Group -->
