<!-- Pricing -->
<div
    class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-4 lg:py-14 mx-auto" id="tarifs">
    <!-- Title -->
    <article class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-green-600">{% trans %}Découvrez nos Offres{% endtrans %}</h2>
        <p class="mt-1 text-gray-600 dark:text-neutral-400">{% trans %}Nos tarifs sont clairs et simples, n'hésitez pas à nous contacter si besoin d'informations complémentaires{% endtrans %} </p>
    </article>
    <!-- End Title -->
    <aside data-controller="modal" 
        class="mt-12 {# lg:flex gap-6 #} md:grid grid-cols-3 gap-2 justify-between items-center">
        <!-- Grid -->
        {% for forfait in forfaits %}
            {% include "elements/molecules/pricing_popular_item.html.twig" %}
        {% endfor %}
        <!-- End Grid -->
    </aside>
</div>
<!-- End Pricing -->
