<!-- Clients -->
<section id="realisations"
    class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="mx-auto text-center mb-6 md:mb-12">
        <h2 class="text-xl font-bold md:text-2xl md:leading-tight text-green-800 dark:text-neutral-200">{% trans %}Explorez notre portfolio de créations digitales ! Des sites élégants, des expériences utilisateur optimales et des solutions sur mesure : découvrez comment notre agence web transforme les idées en réalité en ligne.{% endtrans %} </h2>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div
        class="flex justify-evenly items-center flex-wrap gap-1 md:gap-5 lg:gap-11">
        {# TODO boucle avec les sites en BDD #}
        {% for site_model in site_models %}
            {% include "elements/atoms/site_model_item.html.twig" %}
        {% endfor %}
    </div>
    <!-- End Grid -->
</section>
<!-- End Clients -->
