{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Nous contacter{% endtrans %}
{% endblock %}

{% block body %}
    {# {% include "sections/contact/header.html.twig" %}
     #}
    <twig:ContactComponent/>
{% endblock %}
