<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>
			Nouvelle demande d'information pour un projet de type : {{ demande.typeDeSite.nom }}
		</h1>
		<p>
			<strong>Pseudo :</strong>
			{{ demande.pseudo }}
		</p>
		<p>
			<strong>Adresse e-mail :</strong>
			{{ demande.email }}
		</p>
		<p>
			<strong>Téléphone :</strong>
			{{demande.telephone}}
		</p>
		<p>
			<strong>Message :</strong>
			{{demande.message}}
		</p>
	</body>
</html>
