<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "elements/atoms/favicon.html.twig" %}
        {% include "elements/organisms/cookie.html.twig" %}

        <title>
            {% block title %}Bienvenue sur FormCodeur
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('symfony/ux-swup/swup') }}>
        <main id="swup" class="flex flex-col gap-5 bg-gradient-to-r from-green-100 via-green-50 to-green-200 text-justify">
            {% block navbar %}
                <div class="mb-8">
                    {% include "elements/organisms/navbar.html.twig" %}
                </div>
            {% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}
                <twig:FooterComponent/>
            {% endblock %}
        </main>

    </body>
</html>
