<div class="p-2 shadow-2xl rounded-lg py-4">
    <h1 class=" font-bold text-gray-800 text-2xl lg:leading-tight dark:text-white">
        {% trans %}Demande de devis ou d'informations{% endtrans %}
    </h1>
    <p class="mt-1 md:text-lg text-gray-800 dark:text-neutral-200">
        {% trans %}Une fois que vous aurez soumis ce formulaire, notre équipe reviendra vers vous dans les plus brefs délais avec un devis détaillé et sans engagement. Merci de nous faire confiance pour la réalisation de votre projet web !
        {% endtrans %}

    </p>
    <p>{% trans %}Cordialement, L'équipe de{% endtrans %}
        <span class="ms-1 text-green-900 font-extrabold">{{SITE_NAME | trans}}</span>
    </p>
    <div class="mt-8">
        <h2 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
            {% trans %}Qu'attendez-vous de nous?{% endtrans %}
        </h2>

        <ul class="mt-2 space-y-2">
            <li class="flex space-x-3">
                <svg class="flex-shrink-0 mt-0.5 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-600 dark:text-neutral-400">{% trans %}
                    Type de site souhaité (vitrine, e-commerce, blog, etc.){% endtrans %}
                </span>
            </li>

            <li class="flex space-x-3">
                <svg class="flex-shrink-0 mt-0.5 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-600 dark:text-neutral-400">{% trans %}
                    Fonctionnalités spécifiques requises (par exemple, système de paiement, gestion des stocks, etc.){% endtrans %}
                </span>
            </li>

            <li class="flex space-x-3">
                <svg class="flex-shrink-0 mt-0.5 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-600 dark:text-neutral-400">
                    {% trans %}Idées de design ou préférences esthétiques{% endtrans %}
                </span>
            </li>


            <li class="flex space-x-3">
                <svg class="flex-shrink-0 mt-0.5 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-600 dark:text-neutral-400">
                    {% trans %}
                    Budget approximatif pour la création du site{% endtrans %}

                </span>
            </li>

            <li class="flex space-x-3">
                <svg class="flex-shrink-0 mt-0.5 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-600 dark:text-neutral-400">
                    {% trans %}
                    Date limite pour la mise en ligne{% endtrans %}
                </span>
            </li>
        </ul>
    </div>
</div>
