<!-- Card -->
<div class="flex flex-col border shadow-2xl rounded-xl p-4 sm:p-6 lg:p-10">
    <h2 class="my-4 text-xl font-semibold text-gray-800 dark:text-neutral-200">
        {% trans %}Veuillez compléter ce formulaire{% endtrans %}
    </h2>

    {# Formulaire de contact #}
    {{form_start (form, {
            'attr' : {
                'class' : 'flex flex-col gap-4 justify-evenly',
            }
          
        })}}

    {% include "elements/atoms/form_error.html.twig" with {
            input_name: form
        }%}

    {% include "elements/atoms/input.html.twig" with {
        input_name : form.pseudo,
    } %}

    {% if form.email is defined %}
        {% include "elements/atoms/input.html.twig" with {
        input_name : form.email,
        input_type : 'email'
    } %}
    {% endif %}

    {% if form.type_de_site is defined %}
        {% include "elements/atoms/select.html.twig" with {
            input_name : form.type_de_site,
        } %}
    {% endif %}
    {% if form.message is defined %}
        {% include "elements/atoms/textarea.html.twig" with {
                input_name : form.message,
        } %}
    {% endif %}
    {% if form.telephone is defined %}
        {% include "elements/atoms/input.html.twig" with {
            input_name : form.telephone,
        } %}
    {% endif %}


    <!-- Checkbox -->

    <!-- End Checkbox -->
    <div class="mt-6 grid">
        <button name="{{field_name(form.submit)}}" type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none" {{form.telephone is defined ? '' : 'disabled=""' }}>{% trans %}Envoyer{% endtrans %}
        </button>
    </div>

    {{form_end (form)}}


    <!-- End Grid -->


    <div class="mt-3 text-center">
        <p class="text-sm text-gray-500 dark:text-neutral-500">
            {% trans %}Nous reviendrons vers vous dans un délai maximum de deux jours{% endtrans %}
        </p>
    </div>
</div>
<!-- End Card -->
