<!-- Testimonials -->
<div
    class="max-w-[85rem] px-4 py-5 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:gap-10 lg:gap-16 md:items-center">
        {% if loop.index is odd %}

            {% include "elements/atoms/equipe_dev_image_item.html.twig" %}
            {% include "elements/atoms/equipe_dev_blockquote_item.html.twig" %}

        {% else %}

            {% include "elements/atoms/equipe_dev_blockquote_item.html.twig" %}
            {% include "elements/atoms/equipe_dev_image_item.html.twig" %}

        {% endif %}
    </div>
    <!-- End Grid -->
</div>
<!-- End Testimonials -->
