<div class="mt-4 flex flex-col border-2 {{forfait.isPopular ? 'border-green-600' : '' }}  text-center shadow-xl rounded-xl p-8">
    <p class="mb-3">
        {% if forfait.isPopular %}
            <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-lg text-xs uppercase font-semibold bg-green-100 text-green-800 dark:bg-green-600 dark:text-white">{% trans %}Le plus populaire{% endtrans %}</span>
        {% endif %}


    </p>
    <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">
        {% include "elements/atoms/locale.html.twig" with {
        frData: forfait.frNom,
        enData: forfait.enNom
    } %}

    </h4>

    {% if forfait.prix > 0 %}
        <small>{% trans %}à partir de{% endtrans %}
        </small>
    {% endif %}
    <span class="mt-3 font-bold {{forfait.prix ? 'text-5xl' : 'text-3xl' }}  text-green-800">
        {{forfait.prix ?  forfait.prix | format_currency('EUR', locale= app.request.locale) : 'Devis sur mesure'}}
    </span>

    <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">
        {% include "elements/atoms/locale.html.twig" with {
            frData: forfait.frSousTitre,
            enData: forfait.enSousTitre
        } %}</p>

    {% include "elements/atoms/pricing_avantages_item.html.twig" %}

    {# modal #}
    {% include "elements/atoms/pricing_modal.html.twig" %}
</div>
