<!-- Card -->
<div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-800">
    <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">{{forfait.nom | trans}}</h4>
    <span class="mt-7 font-bold text-5xl text-gray-800 dark:text-neutral-200">{{forfait.prix | default('Sur devis') | trans}}</span>
    <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">{{forfait.sousTitre | trans}}</p>

    <ul class="mt-7 space-y-2.5 text-sm">
        {% for avantage in forfait.avantages %}
            <li class="flex space-x-2 gap-2">{{ ux_icon('mdi:check-all', {'class' : 'size-5'}) }}{{avantage | trans}}</li>
        {% endfor %}

    </ul>

    <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-blue-600 hover:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-blue-500 dark:hover:border-blue-600" href="#">
        {% trans %}Voir{% endtrans %}
    </a>
</div>
<!-- End Card -->
